services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /var/lib/postgresql/data
    volumes:
      - postgresql-notes-data:/var/lib/postgresql
    ports:
      - "5435:5432"

volumes:
  postgresql-notes-data:
